import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
importClassesFrom(ShortRead, AlignedRead)
importMethodsFrom(Biobase, exprs, pData, sampleNames)
importMethodsFrom(ShortRead, chromosome, lapply, position, sapply)
importFrom(parallel, mclapply)
importFrom(graphics, abline, legend, lines, plot, points, rect, text)
importFrom(ShortRead, sread)
importFrom(stats, fft, pnorm, runif)
importFrom(Rsamtools, scanBamFlag, ScanBamParam, scanBam)

exportMethods(export.bed, filterFFT, fragmentLenDetect, peakDetection,
              peakScoring, plotPeaks, processReads, controlCorrection)
export(coverage.rpm, export.wig, processTilingArray, syntheticNucMap,
       pcKeepCompDetect, mergeCalls, readBAM)

